body{
    background-color: rgb(13, 13, 68);
}
.outbox{
    background-color: red;
    height: 160px ;
    width: 160px;
    border: 1px solid black;
     
}
.inbox{
    background-color: white;
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
   border: 2px solid black;
   border-radius: 5px;
}
.boxroundred{
    height: 20px;
    width: 30px;
    
    margin: 15px;
    border: 1px solid black;
    border-radius: 50%;
}
.round1,.round2{
    display: flex;
}

.rg{
    display: flex;
}
.square{
    height: 25px;
    width: 20px;
    border: 1px solid black;
    background-color: white;
}
.line,.box1,.middleBox,.t1{
    display: flex;
}
.square1{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    background-color: white;
}
.tt{
    height: 36px;
    width: 32px;
    border: 1px solid black;
}
 
.box{
    border: 2px solid black;
}
.main{
    border: 5px solid black;
    box-shadow: 2px 2px 10px black;
    margin-left: 550px;
    margin-top: 150px;
    width: 390px;
    outline: 5px solid black;
     
}