/* p{
    color: green !important; 
}*/
/* p::selection{
        background-color: aqua;
        color: blue;
}*/
/* [class*="city"]
{
    color: brown;
}  */


/* p:first-child{
    color: red;
} */
 /* div:first-child{
    color: blue;
 } */


.main{
    width: min(200px,50%);
    height: max(300px,50%);
    background-color: aqua;
} 

/* .sup{
    height: 300px;
    width: 300px;
    background-color: green;
    align-items: center;
    justify-content: center;
    display: flex;
}
.sub{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    
} */

/* p{
    border: 1px solid black;
}
span{
    border: inherit;
} */