body{
    margin: 0;
    padding: 0;
}
.head{
    background-color: rgb(1, 18, 33);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}
 
img{
    margin-left: 20px;
}
 .btn{
    margin-right: 30px;
 }
.btn1{
    border-radius: 5px;
    height: 30px;
    background-color: rgb(45, 47, 47);
    color: white;
    border: 1px solid white;
    margin-right: 5px;
    font-weight: 200px;
}
.btn2{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    border: 1px solid white
}
.mid{
    background-color: rgb(132, 190, 240);
    height: 150px;
    text-align: center;
    padding: 70px;
}
.aa{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}
 
.first,.second,.third{
    display: flex;
    justify-content: space-evenly;
    margin-right: 200px;
    gap:200px;
}
.third{
    gap: 300px;
}
pre{
    font-weight: 400; ;
}
.a,.ab{
    display: flex;
    width: 300px;
}
.ab{
    gap:20px ;
}
.cc{
    
    display: flex;
    color: white;
}
.dd{
    margin-top: 10px;
}
.ff{
    background-color: rgb(1, 18, 33); 
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}
.foot,.gg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2m;
}
.gg{
    padding-left: 150px;
    gap: 100px;
}
.bb{
    display: flex;
    align-items: start;
}

input{
    height: 35px;
    width: 250px;
    border-right: none;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 5px 5px rgb(1, 18, 33);
}
.arr{
    height: 35px;
    border-left: none;
    width: 50px;
    background-color: white;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 5px 5px 5px rgb(1, 18, 33);
}
.search{
    width: 300px;
    
    margin-left: 40%;
    
    
}