button{
    height: 30px;
    width: 100px;
    background-color: blue;
    color: white;
    border-radius:5px ;
    
    
}
button:hover{
    /* transform:translate(200px,20px); */
    /* transform: rotate(90deg); */
    /* transform: scale(1.6,1.6); */
    /* transform: skew(20deg,20deg); */
}

.container{
    position: relative;
     
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size:xx-large ;
}


img{
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    height: 300PX;
    /* filter: blur(4px); */
    /* filter: grayscale(0); */
    filter: drop-shadow(20px,20px,200px,green);
}
img:hover{
    transform: scaleX(-1);
}