.head{
    background-color: rgb(1, 18, 33);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}
 
img{
    margin-left: 20px;
}
 .btn{
    margin-right: 30px;
 }
.btn1{
    border-radius: 5px;
    height: 30px;
    background-color: rgb(45, 47, 47);
    color: white;
    border: 1px solid white;
    margin-right: 5px;
    font-weight: 200px;
}
.btn2{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    border: 1px solid white
}
.mid{
    background-color: rgb(132, 190, 240);
    height: 150px;
    text-align: center;
    padding: 70px;
}
.aa{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}
input{
    font-weight: bolder;
    height: 30px;
    width: 250px;
    padding-left:20px ;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px rgb(1, 18, 33);
}