/* .main{
    background-color: blue;
    width: 400px;
    display: flex;
}
.main div{
    width: 50px;
    border: 2px solid black;
    padding: 5px;
}
.aa{
    flex-grow:1;
} */


.below{
    height: 300px;
    width: 500px;
    background-color: aqua;
    z-index: 2;
}
.above{
    position: absolute;
    height: 350px;
    width: 500px;
    left: 40px;
    top: 40px;
    background-color: blue;
    text-align: center;
    z-index: -1;
}

/* .img1{
    height: 200px;
    width: 200px;
     
}
.img2{
    height: 200px;
    width: 200px;
     object-fit: cover;
}
.img3{
    height: 200px;
    width: 200px;
    object-fit: contain;
} */